<div class="container-fluid">
		<div class="row">
			<div class="col-md-12">
				<div class="card">
					<div class="header">
						<h4 class="title">Lista dos Cadastrados</h4>
						<p class="category">descrição vem aqui</p>
					</div>
					<div class="content table-responsive table-full-width">
						<table class="table table-striped">
							<thead>
								<tr>
									<th *ngFor="let cell of tableData1.headerRow">{{ cell }}</th>
								</tr>
							</thead>
							<tbody>
								<tr *ngFor="let item of users; let i = index">
									<td>{{ i + 1 }}</td>
									<td>{{ item.name }}</td>
									<td>{{ item.rg }}</td>
									<td>{{ item.cpf }}</td>
									<td>{{ item.active }}</td>
									<td><a [routerLink]="['/user/edit', item.registration]">editar</a></td>
									<td>
										<a href="#" (click)="teste(item.key)" data-toggle="modal" data-target="#exampleModalCenter">
											apagar
										</a>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<!-- Modal -->
				<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
					<div class="modal-dialog modal-dialog-centered" role="document">
						<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="exampleModalLongTitle">Confirmação de Exclusão</h5>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
							</button>
						</div>
						<div class="modal-body">
							Tem certeza que deseja Excluir o usuário?
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary" data-dismiss="modal">Não</button>
							<button type="button" (click)="deleteUser(key)" data-dismiss="modal" class="btn btn-primary">Sim</button>
						</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>